.title{
    text-align: center !important;
}

/* start personal info */
.row{
   padding-left: 20%;
   padding-right: 20%;
   /* padding: 10px; */
    
}
.p-info{
    background-color: #f0f0f0;
    border-radius: 20px;
    border: 2px solid black;
}
.p-info input{
    margin-left: 50px;
    padding-right: 20%;
}

/* .p-info label
{
    margin-left: 35px;
    margin-right: 35px;
} */
.p-info label {
    display: block;
    margin-bottom: 10px;
}
.p-info i{
    padding: 10px;
}
/* end personal info */


/* start information yourself */

.y-info{
    background-color: #f0f0f0;
    border-radius: 20px;
    border: 2px solid black;
}
.y-info input{
    margin-left: 50px;
    padding-right: 20%;
}
.y-info label{
    display: block;
    margin-bottom: 10px;
    
}

/* end information yourself */

/* start project info */
.project-info{
    background-color: #f0f0f0;
    border: 2px solid black;
    border-radius: 20px;
}
.project-info input{
    margin-left: 50px;
    padding-right: 20%;
}
.project-info label{
    display: block;
    margin-bottom: 10px;
    
}

/* End project info */


/* start skill */
.skill{
    background-color: #f0f0f0;
    border: 2px solid black;
    border-radius: 20px;
}
.skill input{
    margin-left: 50px;
    padding-right: 20%;
}
.skill label{
    display: block;
    margin-bottom: 10px;
}
.skill i{
    padding-right: 0px;
}
/* start skill */

/* Start of resume */
.resume {
background-color: #f0f0f0;
border: 2px solid black;
border-radius: 20px;
}


/* End of resume */

/* start contact */

.card label{
    display: block;
    margin-bottom: 10px;
}
.contact-card{
    border: 2px solid black;
    border-radius: 20px;
    background-color: #f0f0f0;
    
    
}

/* end contact */

/* start feedback */
.text-word{
    text-align: center;
    display: block;
    margin-bottom: 10px;
   
    
}
.text-word i{
    padding: 10px;
}
.feedback{
    border: 2px solid black;
    border-radius: 20px;
    background-color: #f0f0f0;
}
/* end feedback */

/*start submit  */
.submit input{
    background-color: rgb(95, 126, 226);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
}
/* end submit */

.row{
    background-color: color-mix(in srgb-linear, color percentage, color percentage);
}